 

.blank-line {
  margin: 0;
}
.partnerships {
  color: #110505;
}
.careers {
  color: var(--primary-contrast);
}
.home-about-team {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.navigation-menu {
  position: absolute;
  bottom: 61px;
  left: calc(50% - 535px);
  white-space: pre-wrap;
  display: inline-block;
  width: 1406px;
  height: 73px;
}
.navigation-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-olive);
  width: 1776px;
  height: 168px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--primary-contrast);
  font-family: var(--font-inter);
}
.other-links-to-container {
  position: absolute;
  top: 43px;
  left: 25px;
  white-space: pre-wrap;
  display: inline-block;
  width: 1731px;
  height: 96px;
}
.other-links-to-the-website-wrapper {
  position: absolute;
  top: 822px;
  left: 0;
  background-color: var(--color-olive);
  width: 1776px;
  height: 167px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  color: var(--primary-contrast);
  font-family: var(--font-inter);
}
.company-logo-icon {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 146px;
  height: 143px;
  object-fit: cover;
}
.pg-name {
  top: 168px;
  left: 44px;
  font-size: 49.61px;
  text-decoration: underline;
  font-family: var(--font-ibm-plex-serif);
  color: var(--color-black);
  width: 1012px;
  height: 138.9px;
}
.brief-description,
.lorem-ipsum-is,
.pg-name {
  position: absolute;
  display: inline-block;
}
.brief-description {
  top: 338px;
  left: 44px;
  font-size: 25px;
  font-family: var(--font-inder);
  color: var(--color-black);
  width: 1528px;
  height: 105px;
}
.lorem-ipsum-is {
  top: 495px;
  left: 188px;
  letter-spacing: 0.02em;
  width: 434px;
  height: 292px;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 494.5px;
  left: 158.5px;
  box-sizing: border-box;
}
.frame-child {
  border-right: 1px solid var(--color-black);
  width: 1px;
  height: 293px;
}
.frame-item {
  border-top: 1px solid var(--color-black);
  width: 464px;
  height: 1px;
}
.frame-inner,
.line-div {
  position: absolute;
  top: 784px;
  left: 159px;
  width: 463px;
  height: 3.1px;
}
.line-div {
  top: 494.5px;
  left: 621.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 291px;
}
.rectangle-div {
  position: absolute;
  top: 495px;
  left: 831px;
  background-color: #d9d9d9;
  width: 464px;
  height: 284px;
}
.lorem-ipsum-is-container {
  position: absolute;
  top: 502px;
  left: 831px;
  letter-spacing: 0.02em;
}
.frame-parent {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 989px;
  overflow: hidden;
  text-align: left;
  font-size: 21.39px;
  color: var(--color-gray-200);
  font-family: var(--font-manrope);
}


